.contentNav {
    display:flex;
    position: sticky;   
    height:60px;
    
    background:transparent;
    background: rgba(0, 0, 0, 0.85);
    justify-content:space-between;
    padding:8px;
    padding-left:100px;
    padding-right:100px;
    line-height: 0px;
    z-index:1;
    top:0px;  
    box-shadow: 0px 15px 10px #202020;;
}
.navLink {
    text-decoration: none;
}
.h1 {
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    color:rgb(219, 216, 216);
    font-size:42px;
    padding-left:20px;   
    padding-right:20px;
}
.h1:hover {
    color:rgb(43, 173, 190);
    
}